---
import { Icon } from "astro-icon/components";
import podcasts from "../data/podcasts.json";
---

<div
  class="relative flex flex-col justify-evenly overflow-hidden rounded-2xl border border-primary/20 bg-primary/10 shadow-lg backdrop-blur-md dark:shadow-black/50"
>
  <h3 class="p-4 text-lg font-semibold">Currently vibing with…</h3>
  <div class="embla overflow-hidden">
    <div class="embla__container flex gap-3 px-3">
      {
        podcasts.map((podcast) => (
          <div class="embla__slide min-w-1/4 md:min-w-2/4 lg:min-w-3/4">
            <a href={podcast.url} target="_blank" rel="noopener noreferrer">
              <div class="group relative rounded-xl">
                <div
                  class="aspect-square rounded-xl bg-cover bg-center"
                  style={`background-image: url(${podcast.cover})`}
                />
                <button class="absolute top-3 right-3 z-2 rounded-full bg-white/85 p-2 text-black opacity-0 transition group-hover:opacity-100">
                  <Icon name="mdi:spotify" />
                </button>
                <div class="absolute inset-0 hidden flex-col justify-end gap-2 rounded-xl bg-black/40 p-4 text-white opacity-0 backdrop-blur-sm transition-all duration-300 group-hover:opacity-100 lg:flex">
                  <p class="line-clamp-1 font-semibold">{podcast.name}</p>
                  <p class="line-clamp-1 text-sm text-gray-200">
                    {podcast.publisher}
                  </p>
                  <p class="line-clamp-2 text-xs text-gray-300">
                    {podcast.description}
                  </p>
                </div>
              </div>
            </a>
          </div>
        ))
      }
    </div>
  </div>
</div>

<script>
  import EmblaCarousel from "embla-carousel";
  import AutoPlay from "embla-carousel-autoplay";

  const emblaNode = document.querySelector(".embla");
  if (emblaNode) {
    const embla = EmblaCarousel(emblaNode as HTMLElement, { loop: true }, [
      AutoPlay(),
    ]);
  }
</script>
